@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url("../assets/fonts/Montserrat-Bold.woff2") format("woff2"), url("../assets/fonts/Montserrat-Bold.woff") format("woff");
}

@font-face {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url("../assets/fonts/Montserrat-Regular.woff2") format("woff2"), url("../assets/fonts/Montserrat-Regular.woff") format("woff");
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    font-display: auto;
    src: url("../assets/fonts/Mulish-Bold.woff2") format("woff2"), url("../assets/fonts/Mulish-Bold.woff") format("woff");
}

@font-face {
    font-family: "Mulish";
    font-style: normal;
    font-weight: 600;
    font-display: auto;
    src: url("../assets/fonts/Mulish-SemiBold.woff2") format("woff2"), url("../assets/fonts/Mulish-SemiBold.woff") format("woff");
}
