// Colors
$white: #ffffff;
$white-40: rgba(255, 255, 255, 0.4);

$black: #131313;

$gray: #606060;
$gray-dark: #171717;
$gray-light: #808080;

$gold: #c2ab81;

$pink: #FE60B7;
$violet: #A072FD;

// Breakpoints
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
